SITE_BASE_URL=https://example.com.br

GOOGLE_CLIENT_ID=<google client>
GOOGLE_CLIENT_SECRET=<google secret>

NEXTAUTH_URL=<nextauth auth url>

AUTH_SECRET=<auth secret> # To add: `npx auth secret`. Read more: https://cli.authjs.dev

MONGODB_USERNAME=<mongodb username>
MONGODB_PASSWORD=<mongodb password>